1.

In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('C:/Users/Katja/Desktop/Python/Robey.csv')

In [8]:
df.head()

    country  region  tfr  contraceptors
0  Botswana  Africa  4.8             35
1   Burundi  Africa  6.5              9
2  Cameroon  Africa  5.9             16
3     Ghana  Africa  6.1             13
4     Kenya  Africa  6.5             27

In [19]:
df.loc[((df.tfr >= 5.5) & (df.tfr <= 7)) & (df.region !='Africa')]

       country      region  tfr  contraceptors
18  Bangladesh        Asia  5.5             40
36   Guatemala  Latin.Amer  5.6             23
37       Haiti  Latin.Amer  6.0             10
45      Jordan   Near.East  5.5             35
49       Yemen   Near.East  7.0              7

In [22]:
df[df.region !='Africa'].head()

         country region  tfr  contraceptors
18    Bangladesh   Asia  5.5             40
19         China   Asia  2.5             72
20         India   Asia  4.3             45
21     Indonesia   Asia  3.0             50
22  Korea.Rep.of   Asia  1.7             77

In [24]:
df[df.tfr <=7].head()

    country  region  tfr  contraceptors
0  Botswana  Africa  4.8             35
1   Burundi  Africa  6.5              9
2  Cameroon  Africa  5.9             16
3     Ghana  Africa  6.1             13
4     Kenya  Africa  6.5             27